body {
	margin : 0 auto;
    padding : 0;
    background : url ("space.png") center center fixed no-repeat;
    background-color: black;
}
video {
	position : fixed;
	top : 0;
	left : 0;
	min-width : 100% ;
	min-height : 100% ;
	width : auto;
	height : auto;
	z-index : -1;
}