/* mobile */
@media screen and (max-width: 767px){
	#wrap {
		background-color: #ff0000;
		color: #ffffff;
	}
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 959px){
	#wrap {
		background-color: #00ff00;
		color: #ffffff;
	}
}

/* pc */
@media screen and (min-width: 960px){
	#wrap {
		background-color: #0000ff;
		color: #ffffff;
	}
}


#wrap{
	width: 80%;
	border: 2px solid #cccccc;
	margin: 0 auto;
}

body {
	margin : 0 auto;
    padding : 0;
    background-color: black;
}
video#bgvid {
	position : fixed;
	top : 0;
	left : 0;
	min-width : 100% ;
	min-height : 100% ;
	width : auto;
	height : auto;
	background : url ("/space.png") no-repeat;
	background-size: cover;
	/* z-index : -1;
	margin: 0 auto; */
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #28e651b8;
	letter-spacing: -0.03em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1); }

h1 {
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .1em;
	/* Adjust as needed */
	animation: typing 4.6s steps(40, end), blink-caret 0.75s step-end infinite; }

  /* The typing effect */
  @keyframes typing {
	from {
	  width: 0; }
	to {
	  width: 100%; } }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to {
	  border-color: transparent; }
	50% {
	  border-color: orange; } }