/* mobile */
@media screen and (max-width: 767px){
	#wrap {
		background-color: #ff0000;
		color: #ffffff;
	}
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 959px){
	#wrap {
		background-color: #00ff00;
		color: #ffffff;
	}
}

/* pc */
@media screen and (min-width: 960px){
	#wrap {
		background-color: #0000ff;
		color: #ffffff;
	}
}


#wrap{
	width: 80%;
	border: 2px solid #cccccc;
	margin: 0 auto;
}

/* body {
	margin : 0 auto;
    padding : 0;
    background-color: black;
} */

/* video#bgvid {
	position : fixed;
	top : 0;
	left : 0;
	min-width : 100% ;
	min-height : 100% ;
	width : auto;
	height : auto;
	background : url ("/space.png") no-repeat;
	background-size: cover;
} */

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
	background-image: url('/moon.jpg');
	background-repeat: no-repeat;
	background-size:auto;
	height: calc(100vh - 8em);
	padding: 4em;
	color: rgba(255,255,255,.75);
	font-family: 'Anonymous Pro', monospace;
	font-weight: 100;
	background-color: rgb(25,25,25);
}
.line-1{
    position: relative;
    top: 40%;
    width: 22em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
             blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


